/* Sadly the default pygments theme has very bad contrast of only 3.34,
 * let's fix this. */
.highlight .go {
   color: #545454;
}

/* Tweak inline code blocks to be a bit more visually distinct and
 * noticable. */
code.literal {
   border: 1px solid #f4f4f4;
   margin-left: 0.2em;
   margin-right: 0.2em;
}

@media (prefers-color-scheme: dark) {
   code.literal {
      border: 1px solid #151515;
   }
}
